@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    /* background: #F1F3F5; */
}

.react-tabs li {
    color: #a7afbe;
}

.react-tabs li.react-tabs__tab--selected {
    border-color: #111827;
    color: #111827;
}

.ant-switch.ant-switch-checked {
    background: #111827 !important;
}

.ant-switch:not(.ant-switch-disabled) {
    background: rgba(0, 0, 0, 0.45);
}

textarea::-webkit-scrollbar {
    width: 2px;
    color: #111827;
}

.random_color {
    background: rgba(255, 255, 255, 0.31);
}

.pricing_box {
    background: rgba(255, 255, 255, 0.31);
    padding: 33px 24px 47px 23px;
}

.hero .pricing_box {
    box-shadow: 0px 4px 28px 0px rgba(50, 49, 49, 0.03);
}

.wallet_card {
    background-color: radial-gradient(197.78% 78.1% at 48.06% 0%, rgba(17, 24, 39, 0.78) 0%, #F1F3f5 100%);
}